*{
	margin: 0;
	padding: 0;
	font-family: Open-sans, sans-serif;
	color: white;
}

body {
	background-color: #004f8c;
	background-image: url(http://www.transparenttextures.com/patterns/p1.png);
	/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}